<div class="container-fluid page">
  <div class="page__wrapper">
    <div class="page__header d-flex p-3 mt-2">
      <header>Clients</header>
    </div>
    <div class="page__content shadow p-3 position-relative">
      <ul>
        <li><p>Client ı yoksa client ekleme butonu olsun. Client varsa onu inceleme butonu olsun</p></li>
        <li><p>Client lar listelensin. Buton olarak Detail+Update</p></li>
        <li><p>Update e basılınca update ekranına geçilsin altta back butonu olsun</p></li>
        <li><p>Detail e basılınca detail ekranına geçilsin altta update ve back butonu olsun</p></li>
      </ul>
    </div>
  </div>
</div>
