<div class="container-fluid page">
  <div class="page__wrapper">
    <div class="page__header d-flex p-3 mt-2">
      <header>Home</header>
    </div>
    <div class="page__content shadow p-3 position-relative">
        <h1>Session Informations</h1>
        <h2>Auth Code:<h3>{{ auth_code }}</h3></h2>

        <h2>Access Token: <h3>{{ access_token }}</h3></h2>
        <h2>ID Token: <h3>{{ id_token }}</h3></h2>
        <h2>Refresh Token: <h3>{{ refresh_token }}</h3></h2>
    </div>
  </div>
</div>
