.page {
  color: #000000;
  padding: 0 1rem;
}

.page__wrapper {
  background-color: #f0f0f0;
  height: calc(100vh - 128px);
  margin: 0 -1rem;
  display: flex;
  flex-direction: column;
}

.page__header {
  font-size: 36px;
}

.page__content {
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  flex: 1;
  border-radius: 20px;
  background-color: #e6e6e6;
  font-size: 2rem;
  position: relative;
  overflow-y: auto; /* İçerik taştığında dikey kaydırma */
  max-height: 100%; /* Maksimum yüksekliği tam sayfa */
}

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer {
  width: 260px;
}
mat-drawer-container {
  height: 100%;
}

mat-drawer {
  background: #373A40;
  padding: 10px;
}
