<mat-nav-list>
  <div class="logo py-4">
    <img src="./assets/logo.ico" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
<!--  <h2 matSubheader class="mt-2">APPLICATIONS</h2>-->
  <a mat-list-item routerLinkActive="list-item-active" routerLink="">
    <mat-icon>home</mat-icon> Home
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/realms">
    <mat-icon>account_circle</mat-icon> Realm
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/clients">
    <mat-icon>account_circle</mat-icon> Client
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/resource-servers">
    <mat-icon>account_circle</mat-icon> Resource Server
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/users">
    <mat-icon>account_circle</mat-icon> User
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/roles">
    <mat-icon>account_circle</mat-icon> Role
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/policies">
    <mat-icon>account_circle</mat-icon> Policy
  </a>

</mat-nav-list>



