<!--<mat-drawer-container>-->
<!--  <mat-drawer class="hmm" mode="side" [opened]="sideBarOpen">-->
<!--    &lt;!&ndash; <mat-drawer mode="side" opened="true"> &ndash;&gt;-->
<!--    <app-sidenav></app-sidenav>-->
<!--  </mat-drawer>-->
<!--  <mat-drawer-content>-->
<!--    <app-header></app-header>-->
<!--&lt;!&ndash;    <app-header (toggleSidebarForMe)="sideBarToggler()"></app-header>&ndash;&gt;-->
<!--    <router-outlet></router-outlet>-->
<!--    <app-footer></app-footer>-->

<!--  </mat-drawer-content>-->

<!--</mat-drawer-container>-->

<!--&lt;!&ndash;<app-menu></app-menu>&ndash;&gt;-->


<!--<app-home></app-home>-->



<router-outlet></router-outlet>


