<div class="container-fluid page">
  <div class="page__wrapper">
    <div class="page__header d-flex p-3 mt-2">
      <header>User Details</header>
    </div>
    <div class="page__content shadow p-3 position-relative">

      <div class="content-container" *ngIf="userDetailDto">
        <div class="table-responsive">
          <table class="table table-striped">
            <tbody>
            <tr>
              <td>Username</td>
              <td>{{ userDetailDto.username }}</td>
            </tr>
            <tr>
              <td>Realm Name</td>
              <td>{{ userDetailDto.realmName }}</td>
            </tr>
            <tr>
              <td>Client Name</td>
              <td>{{ userDetailDto.clientName }}</td>
            </tr>
            <tr>
              <td>Roles</td>
              <td>{{ userDetailDto.roles.join(', ') }}</td>
            </tr>
            <tr>
              <td>Status</td>
              <td>{{ userDetailDto.blocked ? 'Blocked' : 'Unblocked' }}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="button-group">
          <button class="btn btn-back" (click)="goBack()">Back</button>
          <button class="btn btn-set-password" (click)="setPassword()">Set Password</button>
          <button class="btn btn-set-roles" (click)="setRoles()">Set Roles</button>
          <button class="btn btn-block" *ngIf="!userDetailDto.blocked" (click)="block()">Block</button>
          <button class="btn btn-unblock" *ngIf="userDetailDto.blocked" (click)="unblock()">Unblock</button>
        </div>
      </div>

    </div>
  </div>
</div>



