<div class="container-fluid page">
  <div class="page__wrapper">
    <div class="page__header d-flex p-3 mt-2">
      <header>Users</header>
    </div>
    <div class="page__content shadow p-3 position-relative">

      <div class="content-container">
        <div class="actions">
          <button class="create-btn" (click)="showCreateUser()">Create</button>
          <div class="filter-container">
            <input class="filter-input" type="text" [(ngModel)]="username" placeholder="Filter by username">
            <button class="filter-btn" (click)="findUser()">Filter</button>
          </div>
        </div>
        <table *ngIf="users.length > 0">
          <tr>
            <th>Username</th>
            <th>Realm</th>
            <th>Client</th>
            <th class="manage-cell">Actions</th>
          </tr>
          <tr *ngFor="let user of users">
            <td>{{ user.username }}</td>
            <td>{{ user.realmName }}</td>
            <td>{{ user.clientName }}</td>
            <td class="manage-cell"><button class="manage-btn" (click)="showUserDetail(user.username)">Manage</button></td>
          </tr>
        </table>
      </div>

    </div>
  </div>
</div>
